$actionColor:#3359DB;
$cancelColor:white;

.form-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  button {
    margin: 0;
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 0;
    cursor: pointer;

    border: 1px solid #3359db;
    border-radius: 2px;
    font-size: 16px;
    color: #3359db;
    margin-left: 0;
    background-color: #ffffff;

    @media screen and (max-width: 425px) {
      font-size: 1.05em;
    }
  }

  button:last-child {
    margin-left: 4%;
  }

  .action-button {
    background-color: $actionColor;
    color: $cancelColor;
  }

  .cancel-button {
    color: $actionColor;
    background-color: $cancelColor;
    border: 1px solid $actionColor;
  }
}
