@import './variables';

.add-office-modal {
  $primary-color: $color-primary;
  padding: 1em 1em 2.5em 1em;

  .modal-form {
    text-align: left;
    color: map-get($color-black, 900);
    margin-left: 2em;
    margin-right: 2em;
    font-family: $font-light;
  }

  .mrm-input {
    display: block;
    border-radius: 4px;
    padding: 10px;
    width: 28.1em;
    height: 1.4em;
    font-family: $font-light;
    font-size: 1.1em;
    color: $color-text !important;
    border: 1px solid $color-input-border;
    margin-top: 0.6em;
    margin-bottom: 2em;
  }

  div {
    &.input-wrapper {
        margin-bottom: 8%;
    }
  }

  .input-wrapper select{
    color: $color-text !important;
    font-family: $font-light;
  }
}