@import "./variables";

.addroom-container {
  display: flex;
  overflow: auto;
}
.addroom-Floor {
  border: 1px solid map-get($color-gray, 400);
  width: 139px !important;
  height: 119px;
  text-align: center;
  margin-right: 15px;
  border-radius: 6px;
  background-color: map-get($color-white, 300);
}
.active-Floor {
  border: 1px solid map-get($color-blue, 400);
   height: 118px;
   background-color: map-get($color-white, 000);
  }
.addroom-block {
 color: map-get($color-gray, 400);
 font-size: 13px;
 margin-top: 10px;
}

.arrow {
  transform:  rotate(135deg);
  -webkit-transform: rotate(135deg);
  color: $color-back-icon rgba(0, 0, 0, 0.02);
}
.addroom-page-title{
  color: $color-back-icon rgba(0, 0, 0, 0.02);
  font-size: 20px;
  font-weight: bold;
  display: flex;
  .back_icon {
    background-color: map-get($color-white, 000);
    box-shadow: 0 4px 9px 0 $color-back-icon;
    margin-right: 9px;
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    margin-top: -10px;
    img {
      height: 16px;
      width: 16px;
    }
  }
}
.onboarding-next-button {
  height: 44px;
  width: 107px;
  border-radius: 6px;
  background-color:  map-get($color-blue, 400);
  text-align: center;
  color: map-get($color-white, 000);
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin-left: 330px;
  margin-top: 60px;
}
.name-rooms-image {
 display: flex;
overflow-x: auto;
overflow-y: hidden;
 padding-top: 10px;
 padding-left: 10px;
 padding: 30px;
 margin-left: - 40px;
}
.name-rooms-image img{
  width: 150px;
  height: 150px;
  margin-right: 10px;
}
.roomType{
  margin-top: 170px;
  width: 150px !important;
  height: 40px;
  margin-left: -160px;
}
.roomCalendar{
  width: 150px !important;
  height: 40px;
  margin-top: 220px;
  margin-left: - 158px;
}
