@import './variables';

.nbo-add-room-modal{
  max-width: 570px !important;
  max-height: 580px !important;
  padding-right: 0 !important;
  border: none !important;
  padding: 50px 0 50px 50px !important;

  #roomName, #roomCapacity{
    width: 232px !important;
    font-size: 16px;
    color: map-get($color-black, 900);
    height: 24px;
    border-radius: 3px;
  }

  h2{
    width: 50%;
    margin-left: 0 !important;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .input1, .input-wrapper{
    width: 275px;
    display: inline-flex;
    padding-bottom: 20px;
    font-size: 16px;
    .controls{
       top: -1.5rem ;
       left: -1.99rem ;
     }
  }

  select{
    width: 255px !important;
  }

  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

  .form-action-buttons{
    margin-top: 20px !important;
    margin-left: 0 !important;
    margin-right: 40px !important;
  }
}

