@import './variables';

.analytics-cover {
  display: flex;
  flex-direction: row;
  font-family: $font;
  justify-content: space-between !important;
  margin-top: 49.5px;
  top: 194px;
  vertical-align: bottom;

  .btn-left {
    display: flex;
    justify-content: space-between;
  }

  .btn-left .btn-color {
    background-color: $color-primary;
  }
  .btn-left .btn-color:hover {
    background-color: $color-primary;
  }

  .btn-right {
    display: flex;
  }

  .location-btn {
    &:before {
      content: url('../images/location_icon.svg');
      margin-right: 15px;
    }
  }

  .dropdown-caret {
    button {
      height: 45px !important;
      padding: 4px 20px !important;
      top: 0 !important;
    }
  }

  .dropdown-menu {
    right: 0;
    margin-right: 4.5rem;
    width: 7rem;
    margin-top: 3rem !important;
  }

  .overviewIconBtn {

    &:before {
      content: url('../images/timeline_yellow_24px.svg');
      margin-right: 15px;
    }
  }

  .activityIconBtn{
    &:before {
      content: url('../images/calendar_today_24px.svg');
      margin-right: 15px;
    }
  }

  .date-label {
    margin-left: 36px;
    width: 100%;
    color: map-get($color-black, 100);
    margin-bottom: 10px;
    margin-top: 15px;
  }

  .dropbtn {
    background-color: map-get($color-amber, 300);
    color: map-get($color-white, 000);
    padding:  8px 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    height:40px;
    margin-top: 10px;

    .dropbtn-img  #btnControl {
      padding: 25px!important;
    }
  }
}
