@import './variables';

.meeting-title {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr;
	grid-template-rows: 80px 200px;
	height: 21px;
	width: 100%;
	margin-left: 0px;
	margin-top: 22px;
	color: map-get($color-black, 600);
	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
	.title-heading {
		margin-left: 5%;
	}
	.room-heading {
		margin-left: 8%;
	}
	.status-heang {
		margin-left: 10%;
	}
	.participant-heading {
		margin-left: 18%;
	}
}

.activity {
	margin-top: 1%;
	//activity container basics
	height: 370px;
	background-color: map-get($color-white, 000);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	//end of activity container basics
	color: $color-primary;
	font-size: 18px;
	font-weight: 500;
	line-height: 23px;
}
.activity-day {
	margin-left: 20px;
	color: $color-primary;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 10px;
}

.activity > .activity-info-row {
	color: map-get($color-black, 600);
	.title {
		padding-left: 3%;
	}
}
.activity > div:nth-child(5) {
	height: 75px;
	width: 1280px;
	background-color: map-get($color-white, 000);
	box-shadow: none;
}

.activity-info-row {
	font-size: 16px;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr 1fr;
	height: 75px;
	width: 1280px;
	margin: auto;
	background-color: map-get($color-white, 000);
	box-shadow: inset 0 -1px 0 0 $color-border;
}
.title,
.room,
.status,
.participants {
	margin-top: 20px;
}
.title {
	.time {
		height: 18px;
		width: 128px;
		color: map-get($color-black, 100);
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
	}
}
.room {
	padding-left: 15px;
}
.status {
	padding-left: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	.started,
	.ended,
	.cancelled {
		padding-left: 20px;
		height: 34px;
		width: 155px;
		border: 1px solid $color-border;
		border-radius: 17px;
		background-color: map-get($color-white, 000);
		line-height: 2.7;
	}
	.started {
		bdi {
			display: inline-block;
			text-align: right;
			height: 18px;
			width: 70px;
			color: $color-primary;
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}
	}
	.ended {
		bdi {
			display: inline-block;
			text-align: right;
			height: 18px;
			width: 70px;
			color: $color-danger;
			font-size: 14px;
			font-weight: bold;
			line-height: 18px;
		}
	}
	.cancelled {
		width: 95px;
		color: $color-danger;
		font-weight: bold;
	}
}

.participants {
	display: grid;
	grid-template-columns: 1fr 1.9fr;
	span {
		display: inline-block;
		margin-top: 10px;
	}
	img {
		margin-left: 35px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.activity-info-row {
		width: 1170px;
	}

	.activity > div:nth-child(5) {
    width: 1170px;
	}
}
