
  .analytics-cover {
    display: flex;
    flex-direction: row;
    font-family: 'DINPro';
    justify-content: space-between !important;
    margin-top: 49.5px;
    top: 194px;
    vertical-align: bottom;

    .btn-left .btn{
        margin: 21px 29.5px 0 0;
        width: 180px !important;
        height: 50px !important;
    }

    .btn-left {
        display: flex;
        justify-content: space-between;
    }

    .btn-left .btn-color {
        background-color: #3359DB;
        }
    .btn-left .btn-color:hover {
        background-color: #3359DB;
        }

    .btn-right {
        margin: 10px 0 0 0;
        display: flex;
        justify-content: space-evenly;
    }


    .analysis-btn {
        margin: 20px;
        height: 41px;
        border-radius: 4px;
        font-family: 'DINPro';
        border: 1px solid white;
        background-color: #fff;
        border: 1px solid #EBEBEB!important;
    }

    .theme--icon--3aBSXDLw {
        text-transform: none;
        font-weight: bold;
        font-size: 15px;
    }

    .theme--flat--1jWAQA6f{
        background: white;
        margin: 20px;
        font-family: 'DINPro';
    }

    .overViewBtn{
        margin-top: -3px;
        z-index: -2px;
        margin-right: 29px;
        &:before {
            content: url('../images/timeline_yellow_24px.svg');
            color: #FFAF30!important;
            margin-left: 15.5px;
            padding-top: 15px;
            height: 12px;
            width: 22px;
            position: auto;
        }
        span{
            color: white!important;
            font-weight: bold;
            font-size: 15px;
            text-transform: none !important;
            margin-right: 28.5px!important;
            margin-top: 4px!important;
            padding: 0 15px 0 15px;
            width: 180px !important;
            height: 50px !important;
        }
    }


    .overViewBtnToggle{
        margin-top: -3px;
        z-index: -2px;
        margin-right: 29px;
        &:before {
            content: url('../images/timeline_24px.svg');
            margin-left: 15.5px;
            padding-top: 15px;
            height: 12px;
            width: 22px;
            position: auto;
        }
        span{
            color: #4F4F4F!important;
            font-weight: bold;
            font-size: 15px;
            text-transform: none !important;
            margin-right: 28.5px!important;
            padding: 0 15px 0 15px;
            width: 180px !important;
            height: 50px !important;
        }
    }

    .activityIconBtn{
        width: 181px;
        padding-top: 7px;
        margin-right: 29px;
        &:before {
            content: url('../images/calendar_today_grey_24px.svg');
            margin-left: 15.5px;
            padding-top: 40px !important;
            height: 12px;
            width: 22px;
            position: auto;
            vertical-align: sub;
        }
        span{
            color: #4F4F4F!important;
            font-weight: bold;
            font-size: 15px;
            text-transform: none !important;
            margin-right: 28.5px!important;
            padding: 0 15px 0 15px;
            width: 180px !important;
            height: 50px !important;
        }
    }
    .activityIconBtnToggle{
        width: 181px;
        margin-right: 29px;
        padding-top:7px;
        &:before {
            content: url('../images/calendar_today_24px.svg');
            margin-left: 15.5px;
            padding-top: 15px;
            height: 12px;
            width: 22px;
            position: auto;
            vertical-align: sub;

        }
        span{
            color: white!important;
            font-weight: bold;
            font-size: 15px;
            text-transform: none !important;
            margin-right: 28.5px!important;
            padding: 0 15px 0 15px;
            width: 180px !important;
            height: 50px !important;
        }
    }

    .locationIconBtn{
        width: 161px;
        margin-right: 29px;
        &:after {
            content: url('../images/place_24px.svg');
            margin-left: 59px;
            margin-right: 15px;
            position: auto;
            vertical-align: sub !important;
        }
        span{
            color: #6D6D6D!important;
            font-weight: normal!important;
            font-size: 15px;
            text-transform: none !important;
            margin-left: 0px!important;
            margin-bottom: 35px;
            height: 42px;
            width: 21px;
        }
    }


    .calendarIconBtn {

        &:hover {
            background-color:blue !important;
            color: #3359DB !important;
        }

        &:after {
            content: url('../images/date_range_24px.svg');
            margin-left: 9px;
            margin-right: 15px;
            position: auto;
            vertical-align: sub !important;
        }
        span{
            color: #6D6D6D!important;
            font-weight: normal!important;
            font-size: 15px;
            text-transform: none !important;
            padding: 15px 15px 15px 15px !important;

        }
    }

    .date-label {
        margin-left: 36px;
        width: 100%;
        color: #999999;
        margin-bottom: 10px;
        margin-top: 15px;
    }





    .dropdown {
        position: relative;
        display: inline-block;
        margin-top: 10px!important;
        height: 40px;
        width: 40px;
    }

        .dropbtn {
            background-color: #FFAF30;
            color: white;
            padding:  8px 14px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            height:40px;
            margin-top: 10px;

          .dropbtn-img  #btnControl {
                padding: 25px!important;
            }
        }


        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 152px;
            width: 152px;
            height: 175px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            margin-top: 8px;
            border-radius: 4px;
        }

        .dropdown-content-null {
            display: none;
        }
        .dropdown-content span {
            color: #3359DB;
            padding: 25px 16px 5px 16px;;
            text-decoration: none;
            display: block;
            height: 8px;
        }

        .dropdown-content .download-dropdown-label {
            color: #BCBCBC;
            cursor: default !important;
            height: 18px;
            margin-top: 12px;
            border-bottom: 1px solid #EBEBEB;
        }

        .dropdown-content .download-dropdown-label:hover {
            background-color: #f9f9f9 !important;
        }
        .dropdown-content span:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }

        .dropdown .dropdown-content {
            display: block;
        }

        .dropdown:hover:after .dropbtn {
            background-color: #999999;
        }

        .pad-top {
            padding-top: 15px !important;
        }

    #location-btn {
        width: 161px;
    }

    #calendar-btn {
        width: 256px;
    }
}
