.attendees-first-circle {
    span {
      background-color: #3359DB;
    }
  }
  
  .attendees-second-circle {
    span {
      background-color: #FFAF30;
    }
  }
  
  .attendees-third-circle {
    span {
      background-color: #FF5359;
    }
  }
  