@import './variables';

.average-meeting {
  background: map-get($color-white, 000);
  margin: 30px 0 60px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  .average-meeting-control {
    border-bottom: 1px solid map-get($color-white, 500);
    height: 66px;

    .header-title {
      margin: 0;
      padding: 26px 32px 19px;
      color: map-get($color-black, 600);
      font-size: 16px;
      float: left;

      &:before {
        content: url("../images/timer_blue.svg");
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        padding-right: 10px;
      }
    }

    .moreVerticalIcon {
      float: right;
      padding: 26px 32px 19px;
      color: map-get($color-black, 600);
      font-size: 16px;
    }
  }

  .average-meeting-list {
    padding: 0 32px;

    table {
      padding: 0 32px;
      width: 100%;
      border-collapse: collapse;

      thead {
        tr {
          th {
            padding: 15px 0;
            font-weight: 900;
            text-align: left;
            color: map-get($color-black, 600);
            font-family: $font-regular, sans-serif;
            font-size: 15px;

            &:first-child {
              width: 50%;

              @media screen and (max-width: 425px) {
                width: 24%;
              }

              @media screen and (min-width: 500px) and (max-width: 1023px) {
                width: 35%;
              }
            }

            &:last-child {
              @media screen and (max-width: 425px) {
                width: 30%;
              }

              @media screen and (min-width: 500px) and (max-width: 1023px) {
                width: 33%;
              }
            }
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid map-get($color-white, 500);

          &:last-child {
            border: none;
          }

          td {
            padding: 20px 0;
            color: $color-text;
            font-family: $font-regular, sans-serif;
            font-size: 15px;
          }
        }
      }
    }
  }

  .average-meeting-pagination {
    border-top: 1px solid map-get($color-white, 500);
    padding: 0 32px;

    .perPageBlock {
      display: none;
    }

    .showingBlock {
      width: 100%;

      .pagination {
        justify-content: space-between;

        .pageNum.reverse {
          color: map-get($color-black, 100);;
          padding: 0;
          margin-left: 0;
        }

        li {
          padding: 0;
          margin: 0;
        }

        .results {
          display: flex;
        }
      }
    }
  }
}

.average-table-error{
  display:flex;
  justify-content: center;
  align-items: center;
  width:200%;
  height: 100% !important;
  position: relative;
  td{
    img{
      width: 30%;
      position: relative;
      left:30%
    }
    p{
      width: 100%;
    }
  }
}
