@import './variables.scss';

.arrow-container {
  padding: 2px 0;
}

.arrow {
  padding: 20px 0;
  color: $color-primary;
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
  text-decoration: none;
}

.arrow-symbol {
  background: $color-primary;
  color:  map-get($color-white, 000);
  border-radius: 50%;
  padding: 1px 5px;
  margin-right: 5px;
}