.bookings-first-circle {
    span {
      background-color: #3359DB;
    }
  }
  
  .bookings-second-circle {
    span {
      background-color: #FFAF30;
    }
  }
  
  .bookings-third-circle {
    span {
      background-color: #FF5359;
    }
  }
  