@import './variables';

.form-card {
  width: 50%;
  border-radius: 8px;
  background-color: map-get($color-white , 000);
  box-shadow: $box-shadow;
  text-align: center;
  font-family: $font-regular;
  &:nth-child(2){
    margin-left: 20px;
  }
  padding: 0 20px;
}
.preview {
  display: flex;
}
.switch-view {
  margin-top: 8%
}
.level-container {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
  display: flex;
}
.form-area {
  margin: 0 auto;
  padding-bottom: 5%;
}
.structure-preview {
  padding: 0 30px;
}
.preview-levels {
  display: flex;
  margin-bottom: 25px;
}
.form-area h4, .preview-area h4 {
  color: $color-level-setup-heading;
  font-size: 24px;
  font-weight: 500px;
  letter-spacing: -0.7px;
  line-height: 31px;
  text-align: center;
  margin-bottom: 0px;
}
.form-header p, .preview-area p {
  color: $color-level-setup-subheading;
}
.form-input {
  margin-bottom: 10px;
}
.level-form {
  width: 65%;
  margin: 0 auto;
  padding-top: 5px;
  display: grid;
  justify-content: center;

  &__input {
    .control {
      height: 1.6rem;
    }

    .controls {
      top: -47px;
    }
  }
}
input[type="text"] {
  color: $color-level-setup-heading;
}
.level-input {
  height: 46px;
  width: 80%;
  margin: 0 auto;;
  font-family: $font-regular;
  font-size: 16px;
  border: 1px solid $color-input-border;
  color: map-get($color-black , 600);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  padding-left: 10px;
}
.select-parent {
  border: 1px dashed $color-primary;
  margin: 0 auto 15px;
  border-radius: 4px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin-top: -15px;
  padding: 2px 0;
  width: 85%;
}
.missing-parent {
  border: 1px dashed $color-danger;
  margin: 0 auto;
  border-radius: 4px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin-top: -15px;
  padding: 2px 0;
  width: 85%;
}
.parent-list, .active-parent {
  background: $color-grey;
  color: white;
  padding: 2px 12px;
  border-radius: 20px;
  cursor: pointer;
  line-height: 15px;
  font-size: 14px;
  position: relative;
  top: 0;
  font-weight: 900;
  margin: 1px 0;
}
.active-parent {
  background-color: map-get($color-amber, 300);
  color: map-get($color-black, 500);
  width: fit-content;
  display: flex;
  margin: 0 auto;
  top: -11px;
  padding-bottom: 4px;
  span {
    margin-right: 15px;
  }
}
.error {
  border: 1px solid $color-danger !important;
  background-color: transparent !important;
}
.error-text {
  font-size: 13px;
  color: $color-danger;
}
label {
  color: $color-label;
}
.level-button-div {
  display: inline-flex;
}
.back-button {
  color: $color-primary;
  background-color: map-get($color-white , 000);
  width: 148px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid $color-primary;
  margin: 0 auto;
  justify-content: center;
  &:hover {
    background: transparent;
  }
}
.save-button {
  color: $color-primary;
  color: map-get($color-white , 000);
  width: 148px;
  background: $color-primary;
  height: 45px;
  border-radius: 6px;
  border: 1px solid $color-primary;
  margin: 0 auto;
  justify-content: center;
}
.add-room-btn {
  width: 300px;
  text-align: center;
  border: 1px dashed $color-primary;
  padding-bottom: 10px;
  height: 42px;
  margin-bottom: 30px;
}
.level-subheading {
  margin-bottom: 30px;
}
.num-input {
  height: 42px;
}
.controls {
  float: none;
  top: 0;
  left: 0;
  top: -44px;
  left: 25%;
}
.save-structure {
  position: absolute;
  margin-top: 20%;
  left: 41%;
}
.levels-desc {
  border-radius: 25px;
  background-color: $color-desc-background;
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
  padding: 5px;
}
.levels-add-options {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-evenly;

  .left,
  .right {
    display: flex;
    text-align: center;
    align-self: center;
    color: map_get($color-blue, 200);
    cursor: pointer;
  }

  .right img {
    border: 1px solid #ccc;
    transform: rotate(-90deg);
    padding: 12px 10px;
    border-radius: 50%;
  }

  .left img {
    border: 1px solid #ccc;
    transform: rotate(90deg);
    padding: 12px 10px;
    border-radius: 50%;
  }
}

.arrow__right {
  position: absolute;
  border: none;
  padding: 0;
  img {
    border: 1px solid $color-grey-light;
    transform: rotate(-90deg);
    padding: 12px 10px;
    border-radius: 50%;
    margin-bottom: -11px;
  }
}

.arrow__left {
  display: contents;
  img {
    border: 1px solid $color-grey-light;
    transform: rotate(90deg);
    padding: 12px 10px;
    border-radius: 50%;
    margin-bottom: -11px;
    margin-left: -50px;
  }
}

.levels-desc p{
  height: 18px;
  width: 375px;
  color: $color-desc-text;
  font-weight: 200;
  margin: 4px 14px 8px 21px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}
.level-btns {
  width:100px;
  height:50px;
  color: map-get($color-white , 000);
  text-align: center;
  background-color: $color-primary;
  position: relative;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-option-preview {
  padding: 9px 25px;
  background: $color-primary;
  position: relative;
  color: map-get($color-white , 000);
  cursor: pointer;
  margin-top: 12px;
}
.form-option-preview {
  background-color: map-get($color-white , 000);
  border: 1px solid $color-primary;
  border-right: transparent;
  color: $color-primary;
}
.form-option-preview:before,
.form-option-preview:after{
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 1px solid $color-primary;
  width: 27px;
  height: 10px;
  right: -18.8px;
}
.form-option-preview:before {
  top: 7px;
  border-top-right-radius: 5px;
  transform: rotate(46deg);
}
.form-option-preview:after {
  bottom: 7px;
  border-top-left-radius: 5px;
  transform: rotate(132deg);
}

.preview-btn-container {
  position: relative
}

.preview-btn, .preview-active-btn, .highlight-btn {
  position: relative;
  border-radius: 5px;
  width: 110px;
  color: map-get($color-black, 900);
  background: $color-gradient;
  border: 1px solid $color-primary;
  cursor: pointer;
  padding: 15px 5px;
  margin: 0 5px;
  font-weight: 500;
  min-width: 75px;
  display: inline-grid;
  line-height: 26px;
}

.long-name {
  padding: 11px 0px;
}

.preview-btn {
  border: 1px solid $color-border;
}

.preview-btn:after, .highlight-btn:after, .preview-active-btn:after {
  content: "";
  width: 8px;
  height: 8px;
  bottom: -5px;
  right: 48%;
  position: absolute;
  transform: rotate(135deg);
  border: 1px solid $color-primary;
  border-top-right-radius: 5px;
  border-bottom: transparent;
  border-left: transparent;
  background: $color-gradient;
}

.preview-btn:after {
  border: 1px solid $color-border;
}

.highlight-btn,  .highlight-btn:after{
  background: $highlight-gradient;
  border: 1px solid  map-get($color-amber, 300);
  color: map-get($color-black, 900);
}

.highlight-arrow-btn{
  border: 1px solid  map-get($color-amber, 300)!important;
}

.highlight-btn:active {
  transition: all 4s;
  transition: 0s;
  -webkit-transition-duration: 4s; /* Safari */
  transition-duration: 4s;
  background: $color-grey;
}

.remove-parent {
  color: transparent;
  width: 14px;
  position: absolute;
  border-radius: 50px;
  top: -2px;
  right: 0;
  font-size: 11px;
  z-index: 1;
  padding-bottom: 1px;
  cursor: pointer;
  line-height: 1;
}

.remove-level {
  color: transparent;
  position: absolute;
  border-radius: 50px;
  top: -2px;
  right: 0;
  font-size: 11px;
  z-index: 1;
  padding: 9px;
  cursor: pointer;
  line-height: 1;
  height: 26px;
  background-color: transparent;
  border: 1px solid transparent;
}

.remove-parent {
  color: $color-danger;
  width: 15px;
  right: 3px;
  font-size: 12px;
  background: map-get($color-white, 000);
  margin-top: 6px;
  margin-right: 0px !important;
}
.remove-level:hover {
  background: $color-danger;
  color: map-get($color-white, 000);
}
.form-card {
  position: relative;
}
.save-btn-container {
  display: flex;
  justify-content: center;
  .btn-primary {
    margin-bottom: 5%;
    margin-top: 10%;
  }
}
.save-btn-container-disable {
  display: flex;
  justify-content: center;
  pointer-events: none;
  .btn-primary {
    margin-bottom: 5%;
    margin-top: 10%;
  }
}
.levels {
  width: 75%;
}
.levels-grp {
  display: flex;
  line-height: 55px;
  margin: 0 auto;
}
.form-header {
  display: flex;
  justify-content: center;
}
.form-header img{
  margin-left: 2px;
  margin-top: 4px;
}

/*
  Device = Tablets, Ipads (portrait)
  Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .level-container {
    display: block;
    overflow: auto;
    margin-top: 5px;
  }
  .form-card {
    width: 100%;
    margin-bottom: 5px;
    padding-top: 5px;
    &:nth-child(2){
      margin: 0 auto;
    }
  }
  .save-structure {
    position: relative;
    margin-top: 50%;
    margin-left: 0px;
  }
}

/*
  Device = Most of the Smartphones Mobiles (Portrait)
  Screen = B/w 360px to 640px
*/
@media (min-width: 360px) and (max-width: 640px) {
  body {
    width: 580px;
  }
  .level-container {
    display: block;
    overflow: auto;
    width: 100%;
    margin-left: 10px;
  }
  .form-card {
    width: 100%;
    margin-bottom: 5%;
    padding-top: 5%;
    &:nth-child(2){
      margin: 0 auto;
    }
  }
  .save-structure {
    position: relative;
    margin-top: 50%;
    margin-left: 0px;
  }
  .preview-btn {
    width: 150px;
  }
}

/*
  Device = Iphone 5/SE
  Screen = B/w 320px to 568px
*/
@media (min-width: 320px) and (max-width: 568px) {
  .level-container {
    display: block;
    overflow: auto;
    margin-top: 5px;
    width: 100%;
  }
  .form-card {
    width: 100%;
    margin-bottom: 5%;
    padding-top: 5%;
    &:nth-child(2){
      margin: 0 auto;
    }
  }
  .save-structure {
    position: relative;
    margin-top: 50%;
    margin-left: 0px;
  }
  .preview-btn {
    width: 150px;
  }
}

/*
  Device = Ipad Pro
  Screen = B/w 1024px to 1366px
*/
@media (min-width: 1024px) and (max-width: 1366px)  {
  .form-card {
    margin-bottom: 5% !important;
    padding-top: 5%;
  }
}

.form-options-list {
  padding: 20px;
  overflow: hidden;
  margin: 0;
  list-style: none;
  display: inline-block;
  padding-left: 0;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
}

.form-options-list li {
  float: left;
  margin: 0 0.8em 0 0;
  padding: 0.7em 1.5em 0.7em 2em;
  float: left;
  text-decoration: none;
  color: $text-color;
  background: $color-gradient;
  position: relative;
  border: 1px solid $color-grey;
  border-radius: 0.4em 0 0 0.4em;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.form-options-list li:hover {
  background: $color-primary;
  color: map-get($color-white, 000);
}

.form-options-list li::after {
  background: $color-gradient;
  content: "";
  height: 2.1em;
  margin-top: -1.04em;
  position: absolute;
  right: -1em;
  top: 50%;
  width: 2.1em;
  z-index: 1;
  transform: rotate(45deg);
  border-radius: 0.3em 0.4em 0.3em 0.3em;
  border: 1px solid $color-grey;
  border-left: transparent;
  border-bottom: transparent;
}

.form-options-list li:nth-child(n+2) {
  border-radius: 0;
}

.form-options-list li:nth-child(n+2)::before {
  border: 1px solid $color-grey;
  border-left: transparent;
  border-bottom: transparent;
}

.form-options-list li.add-level-button::before,
.form-options-list li:nth-child(n+2)::before {
  background: map-get($color-white, 000);
  content: "";
  height: 1.85em;
  margin-top: -0.9em;
  position: absolute;
  right: 86%;
  top: 50%;
  width: 1.85em;
  transform: rotate(45deg);
  border-radius: 0 0.4em 0 0;
}

.form-options-list li.add-level-button:hover::after,
.form-options-list li.add-level-button:hover {
  background: map-get($color-white, 000);
  color: $color-primary;
}

.form-options-list li.add-level-button::before {
  margin-top: -0.95em;
  right: 89%;
}

.form-options-list li.add-level-button {
  border: 1px dashed $color-primary;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $color-primary;
}

.form-options-list li.add-level-button::after {
  border: 1px dashed $color-primary;
  border-left: transparent;
  border-bottom: transparent;
}

.form-options-list li.add-level-button::before {
  border: 1px dashed $color-primary;
  border-left: transparent;
  border-bottom: transparent;
}

.form-options-list li:hover::after {
  background: $color-primary;
}

.active-level {
  background: $color-primary !important;
  color: map-get($color-white, 000) !important;
  border-color: transparent !important;
 }
 .active-level:before {
  border-color: transparent !important;
  border-color: $color-primary !important;
  border-left-color: transparent;
 }
 .active-level:after {
  border-color: transparent !important;
  border-left-color: $color-primary !important;
  background: $color-primary !important;
 }

.level-container .form-header {
  .levels-modal-image {
    margin-top: 14px;
  }
  button#modal-button  {
    margin-top: 0px;
    border-style: none;
    padding-left: 1px;
  }
  .setup-levels {
    .close-modal {
      position: absolute;
      top: 9px;
      right: 14px;
      color: map-get($color-white, 000);
      font-weight: 900;
      height: 12px;
      width: 12px;
      padding: 2px 0px 4px 6px;
      size: 10px;
      font-size: 12px;
      border-radius: 50px;
      line-height: 1;
      background: $color-danger;
      cursor: pointer;
    }

    .modal {
      .modal_content {
        border-radius: 14px;
        height: auto;
        width: auto;
        .form-action-buttons button {
          display: none;
        }
        .setup {
          &_carousel_next {
            border-radius: 70%;
            padding: 15px 20px;
          }
          &_carousel_previous {
            border-radius: 70%;
            padding: 15px 20px;
          }
          &_carousel_navigator {
            margin: 0;
          }
          &_carousel_navigator::before {
            padding-right: 5px;
            font-size: 1px;
          }
          &_carousel_navigator::after {
            padding-right: 5px;
            font-size: 1px;
          }
        }
      }
    }
  }
}
