@import "./variables.scss";

button {
  font-size: 16px;
}

.btn-secondary,
.btn-primary {
  margin: 0 10px;
  line-height: 2.2em;
  display: flex;
}

.btn-secondary {
  color: $text-color;
  border: 1px solid $color-border;
  margin: 0 10px;
  line-height: 2.2em;
  display: flex;

  &:hover {
    background-color: $color-grey-light;
  }

  span {
    font-weight: lighter !important;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: map-get($color-white, 000);
  border: 1px solid $color-primary;

  &:hover {
    background-color: map-get($color-white, 000);
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

.btn-plain {
  border: none;
  font-size: inherit;
  height: auto;
  padding: 1rem 0;
  color: $color-primary;
}
