@import './variables.scss';

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

.switch input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.switch:focus,
.slider:focus,
.round:focus,
input:focus {
  outline: none !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map-get($color-black, 200);
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  bottom: 2px;
  left: 2px;
  background-color: map-get($color-white, 000);
  -webkit-transition: .4s;
  transition: .4s;
}


.slider.checked {
  background-color: $color-primary;
}

.slider.checked::before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.checked.slider.round::before {
  left: -3px !important;
}
