@import './variables';

td {
  #modal-button {
    border: none;
    color: #333e44;
    font-family: $font-light;
    cursor: pointer;
    margin-left: 6px;
  }

  #modal-button:focus {
    outline: 0;
  }
}

.delete-modal {
  padding: 25px 15px;;
  max-height: 312px;
  width: 614px;
  border: none !important;
  border-radius: 4px;
  background-color: #FFFFFF;
}

#confirm-msg {
  font-family: $font-light;
  font-size: 18px;
  color: #6D6D6D;
  line-height: 21px;
  padding-top: 30px;
  padding-bottom: 25px;
}


.delete-modal-content {
  margin-left:2em;
  margin-right:2em;
}

.modal-actions {
  button {
    cursor: pointer;
    float: right;
    height: 44px;
    width: 130px;
    border: 1px solid #3359DB;
    border-radius: 0;
    font-family: $font-regular;
  }

  #delete-btn {
    margin-right: 4%;
  }

  #cancel-btn {
    background-color: #3359DB;
    color: #FFFFFF;
  }
}


