@import './variables';

span {
  #modal-button {
    border: none;
    color: map-get($color-black, 600);
    font-family: $font-light;
    cursor: pointer;
    margin-left: 6px;
    line-height: 0em;
  }

  #modal-button:focus {
    outline: 0;
  }
}

.loading-text {
  padding: 0.2rem;
}

.loading-div {
  display: flex;
}

.delete-modal {
  max-height: 312px;
  width: 614px;
  border: none !important;
  border-radius: 4px;
  background-color: map-get($color-white, 000);
}

#confirm-msg {
  font-family: $font-light;
  font-size: 18px;
  color: $color-text;
  line-height: 21px;
  padding-top: 30px;
  padding-bottom: 25px;
}

.modal-actions {
  button {
    cursor: pointer;
    float: right;
    height: 44px;
    width: 130px;
    border: 1px solid $color-primary;
    border-radius: 0;
    font-family: $font-regular;
  }

  #delete-btn {
    margin-right: 4%;
  }

  #delete-btn {
    background-color: $color-primary;
    color: map-get($color-white, 000);
  }
}
