@import './variables';

.donut-chart {
  height: 270px;
  min-width: 400px;
  width: 412px;
  max-width: 600px;
  border-radius: 4px;
  background-color: map-get($color-white, 000);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding: 25px 30px;
  margin: 0 0.9375em;
  flex-grow: 1;
  &:first-child{
    margin-left: 0px;
  }
  &:last-child{
    margin-right: 0px;
  }

  .chart-header{
    display: flex;
    justify-content: space-between;

    p{
      font-size: 1rem;
      display: inline-block;
      color: map-get($color-black, 600);
    }
    .hint{
      position: relative;
      display: inline-block;
      .hint-text{
        display: none;
        position: absolute;
        top: 25px;
        padding: 0 12px;
        box-sizing: border-box;
        min-width: 100px;
        border-radius: 4px;
        background-color: map-get($color-white, 000);
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
          p{
            line-height: 1rem;
            font-size: 12px;
            color: map-get($color-black, 400);
          }
      }
      img{
        display: inline;
        &:hover {
          & + .hint-text {
            display: block;
          }
        }
      }
    }
        
  }
  .chart-content{
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
    position: relative;
    width: 100%;

    .chart-loader {
      color: map-get($color-black, 100);
      padding-top: 25px;
      font-size: 0.875em;
      width: 100%;
    }

    .centered {
      padding-right: 70px;
    }

    .error-class{
      padding-top: 30px;
    }

    .icon-container {
      text-align: center;
    }

    .error-icon{
      font-size: 20px;
      height: 30px;
      width: 22px;
    }

    .error-msg{
      padding-top: 7px;
      text-align: center;
      color: map-get($color-black, 100);
    }

    .chart-percentage {
      top: 45%;
      left: 23%;
      font-size: 1.5rem;
      font-weight: bold;
      color: map-get($color-black, 600);
      position: absolute;
    }
    .no-info-percentage {
      top: 45%;
      left: 45%;
      font-size: 1.5rem;
      font-weight: bold;
      color: map-get($color-black, 600);
      position: absolute;
    }

    .chart-text{
      display: flex;
      justify-content: center;
      align-items: left;
      flex-flow: column;
            
      p{
        font-size: 18px;
        margin-left: 40px;
        margin-bottom: 8px;
        color: $color-text;
      }
      p:first-child{
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
  .chartjs-render-monitor {
    height: 160px !important;
    width: 160px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .donut-chart {
    min-width: 0;
    width: 300px;
  }
}
