@import './variables.scss';

.dropdown-menu {
  position: absolute;
  min-width: 112px;
  background: map-get($color-white, 000); 
  text-align: left;
  padding: 5px 0;
  border-radius: 2px;
  box-shadow: 0px 2px 6px map-get($color-white, 700);
  color: $color-primary;
}

.dropdown-menu:before, .dropdown-menu:after {
  box-shadow:0 0 50px map-get($color-black, 600);
}

.dropdown-caret {
  margin-right: 40px;

  button {
    border-color: transparent;
    background: transparent;
    font-size: 51px;
    color: $color-primary;
    font-size: 30px;
  }
}
