@import './variables';

.edit-feedback-modal{
  padding: 1em 1em 2.5em 1em;

  .modal-form {
    text-align: left;
    color: map-get($color-black, 900);
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .label1 {
    display: block;
    margin-bottom: 2em;
  }

  .input1 {
    display: block;
    border-radius: 4px;
    padding: 10px;
    width: 28.1em;
    height: 1.4em;
    color: $color-text;
    font-size: 1.1em;
    border: 1px solid $color-input-border;
    margin-top: 1em;
  }

  .edit-feedback-select{
    color: $color-text !important;
    margin-top: 1em;
  }

}