.edit-office-modal{
    $primary-color:  #3359db;
    $text-color: #6d6d6d;
    $font: 'DINPro-Light';
    padding: 1em 1em 2.5em 1em;

    .modal-form {
        text-align: left;
        color: black;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 2em;
        font-family: $font;
    }

    .edit-button{
        color: #000000b0;
        border: 0;
        margin-top: -1.1px;
        font-family: $font;
        @media screen and (max-width: 425px) {
        font-size: 1.05em;}

    }
    .update-button {
        color: white;
        background-color: $primary-color;
        height: 44px;
        width: 158px;
        margin-left: 4%;
    }

    .cancel-button {
        color: $primary-color;
        background-color: white;
        height: 44px;
        width: 130px;
    }

    .label1 {
        display: block;
        margin-bottom: 2em;
    }

    label[for="location"] {
        display: block;
        float: left;
        font-family: $font;
    }

    .input1 {
        display: block;
        border-radius: 4px;
        padding: 10px;
        width: 28.1em;
        height: 1.4em;
        font-family: $font;
        color: $text-color;
        font-size: 1.1em;
        border: 1px solid #d6dee4;
        margin-top: 1em;
    }

    .theme--inputElement--4bZUjKgR{
        border-radius: 4px;
        padding: 10px;
        width: 29.4em;
        height: 2.7em;
        border-width: 0.5px;
        font-size: 1.1em;
        border: 1px solid #d6dee4;
        font-weight: 100;
    }

    .edit-buttons {
        flex: 1;
        justify-content: flex-end;
        align-content: flex-end;
        margin-left: 13.4em;
        margin-top: -8px;
        width: 76%;
        margin-bottom: 1em;
    }
    .edit-office-select{
        margin-bottom: 8%;
    }
    .edit-office-location.default-select{
        color: #6d6d6d !important;
        font-family: "DINPro-Light";
    }
}
