@import './variables.scss';

.dropdown-list {
  display: grid;

  input {
    color: $color-primary;
    padding: 20px 10px 0;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.dropdown-caret {
  button {
    height: 45px;
  }
}
