@import './variables.scss';

.export-button {
  font-family: 'DINPro';
  display: block;
  color: map-get($color-palette, primary);
  padding: 0.500em 1.250em;
  border: 1px solid map-get($color-palette, primary);
  border-radius: 2px;
  background-color: map-get($color-palette, white);
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.03);

  &:hover{
    background-color: map-get($color-palette, primary);
    cursor: pointer;
    color: map-get($color-palette, white);
  }

  .svg-export {
    fill: map-get($color-palette, primary);
    padding-right: 10px;
  }
}

.export-button:hover .svg-export{
    fill: map-get($color-palette, white);
}


