@import './variables.scss';

.dropdown-list {
  display: grid;

  input {
    color: $color-primary;
    padding: 15px 10px 0;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
    border: none;
    font-size: 18px;
    line-height: 20px;
    min-width: 80px;

    &:hover {
      background-color: $color-hover;
    }
  }
}

.dropdown-caret {
  button {
    height: 45px;
  }
}

.heading {
  padding: 25px 20px 15px 10px;
  color: $color-text;
  opacity: 0.5;
  text-align: left;
}


.heading:hover {
  background-color: $color-hover
}

.horizontal-line {
  width: 100%;
  color: $color-hover;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.2;
}

.heading-sub {
  padding: 25px 2.5px 15px 5px;
}