@import './variables';

body{
  font-family: $font;
  padding: 0;
  margin: 0;
  width: -webkit-fill-available;

   @media screen and (max-width: 460px) {
     width: fit-content !important;
   }
}

#root{
  @media screen and (min-height: 1024px){
      width: 100vw;
  }

}
button {
  font-family: $font;
  padding: 10px 20px;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
}

.main-button {
  color: $color-primary;
  background-color: map-get($color-white, 000);
}

#modal-button {
  line-height: 2.2em;
}

.edit-button {
  height: 55px !important;
}

input {
  font-family: $font;
}

h1 {
  color: $color-purple;
}
form{
  height: 100%;
}
.size-6-4 {
  & div:first-child{
    width: 40%;
  }
  & div:nth-child(2){
    width: 60%;
  }
}
.size-half{
  width: 50%;
}
.size-quarter{
  width: 25%;
}
.container{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  height: 100%;
  align-items: center;
}
.container-spaced > * {
  padding: 10px;
  flex: 1 100%;
}
.content-start{
  justify-content: flex-start;
}
.content-end{
  justify-content: flex-end;
}
.inline li{
  display: inline-block;
}

button:disabled,
button[disabled]{
  border: 1px solid $color-input-border;
  color: $color-text;
  pointer-events: none;
}
