@import './commonTextStyles';
@import './variables.scss';

.InputWithAddIcon-container{
    margin: 10px 0;
    .InputWithAddIcon-style input {
        color: map-get($color-gray, 500);
        @include normalTextStyle;
        line-height: 20px;
        width: 334px;
        height: 44px;
    }
    .ui.input {
        border-radius: 5px;
        margin-bottom: 13px;
    }
    .building-error-area-style {
        color: $color-danger;
        font-size: 13px;
        margin-left: 5px;
    }

    .ui.icon.input>i.icon {
        width: 1.7em;
    }
}
