@import './variables.scss';

.number-input-container {


    .number-input .ui.button {
        background: map-get($color-white, 000);
        color: map-get($color-gray, 500);
        border: 1px solid map-get($color-gray, 400);
        border-left: 0px;
    }

    .ui.button i {
        display: none;
    }

    .ui.button:nth-child(1):after {
        content: '+'
    }

    .ui.button:nth-child(2):after {
        content: '-'
    }

    .number-input .ui.input {
        width: 100% !important;
        height: 44px;
        border: 0px solid map-get($color-gray, 400);
        border-right: none;
        border-radius: 6px;
    }

}
