$grey: #6D6D6D;
$white: #FFFFFF;

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  src: url('../fonts/DINPro-Regular.woff');
}

#feedback-location-input {
  font-family: 'DINPro';
  font-size: 1em;
  color: $grey;
  min-width: 30px;
  background: url("../images/location_icon.svg") 90% center no-repeat;
  background-color: $white;
  padding: 0 1.250em;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  background-color: #FFFFFF;
}
