/* Importing the font */
@import "./variables";
@import "../../utils/images/images";

/* body */

body,
html {
  min-height: 100%;
}

/* Converge logo and login button */
.landing-page-header {
  position: fixed;
  top: 58px;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding-left: 5%;
}

.login-btn {
  padding-right: 5%;
}

.trigger-login-modal {
  &:after {
    content: url(../images/show-icon.svg);
    margin-left: 15px;
  }
}
