@import './variables';

.duration-first-circle {
  span {
    background-color: #f30098;
  }
}

.duration-second-circle {
  span {
    background-color: #ffac00;
  }
}

.duration-third-circle {
  span {
    background-color: #8dc100;
  }
}

.duration-forth-circle {
  span {
    background-color: #02adb1;
  }
}
.duration-fifth-circle {
  span {
    background-color: #49AAAF;
  }
}

.chart-details {
  p {
    justify-content: left;
  }
}
