.duration-first-circle {
  span {
    background-color: #FFAF30;
  }
}

.duration-second-circle {
  span {
    background-color: #FAC56F;
  }
}

.duration-third-circle {
  span {
    background-color: #FFE9C6;;
  }
}
