@import './variables';

.settings-offices {
  width: 85%;

  .settings-offices-control {
    height: 70px;
    text-align: right;
    margin-top: 2%;
  }

  .settings-offices-list {
    .table {
      .table {
        &__row {
          grid-template-columns: repeat(4, 1fr);
        }

        &__headers {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}
