.page-navigation{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
}
.pagination{
    display:flex;
    flex-direction: row; 
    list-style: none;
    align-content: space-between;
    align-items: baseline;
    padding-left: 0;
}
.pagination > li {
    padding: 12px;
    margin: 8px;
    padding-right: 0;
    color: #999999;
}
.pagination > li > a {
    text-decoration: none;
    color:#3358db;
}

.pagination > select {
    height: 32px;
    max-width: 38px;
    padding-top: 4px;
    font-size: 14px;
    padding-left: 12px
}

.pagination > li > input {
    box-sizing: border-box;	
    height: 32px;	
    width: 42px;	
    border: 1px solid #D6DEE4;	
    border-radius: 2px;	
    background-color: #FFFFFF;
    padding: 10px;
}
li.pageNum{
    color: #3358db;
    margin-right: 35px;
}
input[type="text"] {
    color: #3358db;
}
select {
    color: #3358db;
}
.enabled{
    color: #3358db!important;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    border-radius: none!important;
    font-size: 14px;
}
.disabled{
    color: #BCBCBC!important;
    cursor: not-allowed;
    pointer-events: none;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
    border-radius: none!important;
    font-size: 14px;
}
#previous, #next{
    background-color: #f4f8f9;
}
.page-select{
    color: #3358db!important;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}
.totalPage{
    color: #3358db!important;
}
.arrowDown{
    background: linear-gradient(
        rgba(244, 248, 249, 0.45),
        rgba(244, 248, 249, 0.45)
      ),
      url("../images/down-arrow.png") no-repeat center;
    background-size: 15px 18px;
    background-position-y: 38%;
    height: 30px;
    width: 20px;
    border: 1px solid #D6DEE4;
    position: relative;
    top: 11.75px;
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.arrowDown, .page-select, .totalPage:hover{
    cursor: pointer;
}