@import './variables';
.resource {
  &-box {
    margin: 0 auto;

    .room-setup {
      &-header {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: -0.7px;
        line-height: 31px;
        text-align: center;
      }
      &-input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: -5px auto 20px auto;
        width: 35%;
        justify-content: space-between;
      }
    }
    .pagination > select {
      margin-top: 1em;
    }
  }
  &-list-item {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0em 1em;
    font-weight: 50;
    border-radius: 4px;
    background-color: map-get($color-white, 000);
    margin-bottom: 8px;
    border: 1px solid $color-border;
    &:hover {
      background-color: $color-hover;
      button {
        background-color: transparent;
      }
    }
    button {
      margin-left: 2px;
      border: none;
      padding: 0 12px;
      cursor: pointer;
      &:first-child {
        padding: 0
      }
    }
    &-text {
      padding: 27px 0 0 18px;
      color: $color-primary
    }
    &-buttons {
      justify-self: end;
      display: flex;
      margin-right: 4.2em;
    }
  }
}
.add-new-resource {
  border-radius: 4px;
  margin: 10px auto;
  background-color: $color-resource;
  height: 51px;
  border: 2px dashed $color-border;
  display: flex;
  justify-content: center;
  align-items: center;
  #modal-button {
    background-color: map-get($color-white, 000);
    color: $color-primary;
    border: 1px solid $color-border;
    padding: 6px 10px;
    height: 34px;
    font-size: 13px;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 $color-shadow;
    cursor: pointer;
  }
  .modal-component .modal_content {
    overflow: scroll;
  }
}
@media (min-width: 1024px) {
  .resource-list-item {
    grid-template-columns: 70% 30%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .resource-list-item {
    grid-template-columns: 65% 35%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .resource-list-item {
    grid-template-columns: 70% 30%;
  }
}
@media (min-width: 375px) and (max-width: 812px) and (orientation: landscape) {
  .resource-list-item {
    grid-template-columns: 67% 33%;
  }
}
@media (min-width: 769px) and (max-width: 876px) {
  .room-select-input {
    width: 60% !important;
  }
}
@media (max-width: 767px) {
  .resource-list-item {
    grid-template-columns: 58% 42%;
  }
}
@media (max-width: 633px) {
  .resource-list-item {
    grid-template-columns: 53% 47%;
  }
}
