@import './variables';

.settings-resource {
  width: 85%;

  .settings-resource-control {
    height: 70px;
    text-align: right;
    margin-top: 2%;
  }

  .settings-resource-list {
    .table {
      &__row {
        grid-template-columns: repeat(2, 1fr);
      }

      &__headers {
        grid-template-columns: repeat(2, 1fr);
      }

      &__row>span:nth-child(2n) {
        text-align: center;
      }

      &__headers>span:nth-child(2n) {
        text-align: center;
      }
    }
  }

  .settings-floors-list {
    .table {
      &__row {
        grid-template-columns: repeat(3, 1fr);
      }

      &__headers {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

button {
  border: 1px solid $color-primary;
  border-radius: 2px;
  font-size: 16px;
  color: $color-primary;
  margin-left: 0;
  background-color: map-get($color-white, 000);

  @media screen and (max-width: 425px) {
    font-size: 1.05em;
  }
}

.delete-resource-modal {
  max-width: 614px;
  height: 312px;
  width: 83%;
  padding: 0 !important;
  margin-right: 0 !important;
  border: none !important;
  box-shadow: none !important;

  h2 {
    margin-left: 50px;
    margin-top: 45px;
    text-transform: uppercase;
  }

  p {
    font-family: $font-light;
    font-size: 108%;
    color: $color-text;
    -webkit-margin-before: 1px;
    -webkit-margin-after: 1px;
  }

  button {
    float: right;
    width: 137px;
    height: 44px;
    text-transform: uppercase;
    border-radius: unset;
    margin: 0;
  }

  button:hover {
    background: $color-primary;
    color: map-get($color-white, 000);
  }

  .delete-resource {
    background: $color-primary;
    color: map-get($color-white, 000);
  }

  .delete-resource:hover {
    cursor: pointer;
  }

  .modal-content {
    .modal-text {
      margin-top: 3em;
      margin-left: 50px;
    }
  }

  .button-container {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 50px;

    .modal-cancel {
      margin-right: 50px;
    }

    .modal-submit {
      margin-right: 10px;
    }
  }
}
