@import './variables.scss';
@import '../../utils/images/images';

.roomfeedback-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;

  .calendar-container {
    position: relative;
    
    .calendar {
      position: absolute;
      margin-top: -22px;
      z-index: 2;
      right: auto;
  
      .date_di {
        display: grid;
      }
      
      .DayPicker-Months {
        flex-wrap: unset !important;
      }
  
      .DayPicker-Month {
        margin: 0 0.3em !important;
      }
    }
  
    .calendar__button .apply_button {
      background-color: $color-primary;
      color: map-get($color-white, 000);
      height: 13px;
      width: 50px;
      padding: 4px 50px 12px 12px;
      line-height: 14px;
      font-weight: 500;
    }
  
    #calendar-btn {
      height: 40px;
      display: flex;
      border: 1px solid $color-input-border;
      border-radius: 5px;
      margin: 30px 0;
      width: 100%;
      right: 0%;
      color: $color-text;
    }
  
    .calendarIconBtn {
      margin: 23px 0;
    }
  
    .calendarIconBtn-error {
      border: 1px solid $color-danger;
      margin-left: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }


  .btn-primary {
    color: map-get($color-white, 000) !important;
  }

  &__control {
    display: flex;
    padding: 10px 0;
    margin-bottom: 70px;
  }

  .tab-navigator {
    margin-right: auto;
    display: flex;

    button {
      line-height: 1.2em !important;
    }
  }

  .responses-tab-nav, .questions-tab-nav {
    display: flex;
    &:before {
      content: url($response-icon);
    }
    span {
      margin: 10px 0 0 10px;
    }
  }

  .questions-tab-nav {
    &:before {
      content: url($question-icon);
    }
  }

  .btn-primary {
    color: map-get($color-white, 000) !important;
  }

  .feedback-filter-button {
    display: flex;

    &:after {
      content: url($filter-yellow);
      margin-left: 7px;
    }
    span {
      margin: 13px 0 0 10px;
    }
  }

  .dropdown-caret {
    button {
      height: 45px !important;
      padding: 4px 20px !important;
      top: 0 !important;
    }
  }

  .dropdown-menu {
    right: 0;
    margin-right: 4.5rem;
    width: 7rem;
    margin-top: 3rem !important;
  }

  .spinner {
    margin: 22% auto !important;
  }
}
