@import './variables';

.room-setup-card {
  overflow: auto;
  .room-details-container {
    .delete-room {
      position: relative;
      display: flex;
      float: right;
      margin-right: 2rem;
      justify-content: flex-end;
      button#modal-button.button {
        position: absolute;
        top: -2.3rem;
        border: none;
        font-size: 12px;
        visibility: hidden;
      }
      .edit-icon {
        position: absolute;
        top: -1.7rem;
        visibility: hidden;
      }
      h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
      }
      .delete-confirmation-text {
        color: $text-color;
        font-size: 18px;
        line-height: 1.7em;
      }

      .modal-component-delete {
        width: 100%;
        .modal_content .form-action-buttons {
          .btn-primary {
            margin-top: 35px;
            text-transform: uppercase;
          }
          .btn-secondary {
            margin-top: 35px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

.room-setup-card:hover {
  overflow: auto;
  .room-details-container {
    .delete-room {
      justify-content: flex-end;
      .edit-icon {
        visibility: visible;
      }
      button#modal-button.button {
        visibility: visible;
        background: transparent;
      }
    }
  }
}
