.room-capacity-first-circle {
  span {
    background-color: #3359DB;
  }
}

.room-capacity-second-circle {
  span {
    background-color: #7A94EB;
  }
}

.room-capacity-third-circle {
  span {
    background-color: #C7D1F7;
  }
}
