@import './variables';
@import '../../utils/images/images.scss';
.setup-main-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 70%;
  background: map-get($color-white, 000);
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px 0 $color-setup-main-container;

  .centered {
    display: flex;
    justify-content: center;
  }

  .resource-picker {
    width: 42% !important;
  }

  .room-select {
    &-input {
      display: flex;
      margin: 0 auto 20px auto;
      width: 40%;
      justify-content: center;
    }
    &-sub {
      border: 1px solid $color-input-border;
      border-radius: 4px;
      background-color: map-get($color-white, 000);
      padding: 3px;
      height: 32px;
      margin: 20px;
      .setup-select-input-wrapper {
        display: flex;
      }
    }
  }

  label {
    position: relative;
    &:after {
      content: url($chevron-icon);
      position: absolute;
      top: 1px;
      right: 0px;
      pointer-events: none;
      padding: 10px 10px;
    }
  }
  .setup-select-input {
    width: 130px !important;
    border: none;
    color: map-get($color-blue, 200) !important;
    font-family: $font-light;
    font-weight: lighter;
    font-size: 14px;
    padding: 0 !important;
    padding-left: 5px !important;
    padding-top: 5px !important;
    cursor: pointer;
  }
  .setup {
    &-navbar {
      display: flex;
      flex-wrap: wrap;
      font-size: 18px;
      margin: 0px auto;
      width: 75%;
      padding: 20px 0;
      justify-content: center;
      .active-nav-item {
        color: $color-primary;
        .setup-nav-icon {
          filter: $icon-filter-color;
        }
      }
    }
    &-nav-item {
      padding: 0px 10px;
      cursor: pointer;
      color: map-get($color-blue, 200);
      margin: 0 10px;
      .setup-nav-icon {
        height: 15px;
      }
    }
    &-nav-item:hover {
      color: $color-primary;
      cursor: pointer;
      transition: 0.1s;
      .setup-nav-icon {
        filter: $icon-filter-color;
      }
    }
  }
}
.reset-image {
  margin-top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.setup-container {
  width: 100%;
  margin: 0;
  .room-setup-header {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.7px;
    line-height: 31px;
    text-align: center;
  }
  .room-setup-container {
    box-sizing: border-box;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    justify-content: center;
    margin: 0 auto;
    .room-setup-card {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      overflow: hidden;
      margin: 10px auto;
      border: 1px solid $color-input-border;
      padding: 7px;
      border-radius: 10px;
      background-color: map-get($color-white, 000);
      box-shadow: $box-shadow-setup;
      cursor: pointer;
      .room-image {
        width: 100%;
        height: 90px;
        margin-bottom: 4px;
        object-fit: cover;
        border-radius: 5px;
      }
      .room-details-container {
        padding: 5px;
        .room-name {
          height: auto;
          width: auto;
          color: map-get($color-black, 600);
          font-size: 20px;
          line-height: 26px;
          text-transform: capitalize;
        }
        .number-of-Seats {
          font-size: 12px;
          color: map-get($color-black, 100);
          padding: 2px 0;
        }
        .number-of-resources {
          font-size: 12px;
          // button {
          //   border: none;
          //   font-size: inherit;
          //   height: auto;
          //   padding: 1rem 0;
          //   color: $color-primary;
          // }
        }
        .room-details {
          width: 100%;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          margin-left: 0px;
          text-transform: uppercase;
          font-weight: bolder;
          .details {
            box-sizing: border-box;
            text-align: center;
            height: 20px;
            padding: 5px;
            margin: 5px 2px;
            font-size: 10px;
            font-weight: bolder;
            border-radius: 3px;
            background-color: $color-room-details;
          }
          .block-name {
            width: 60%;
          }
        }
      }

      .image_loader_wrapper {
        height: 90px;

        .loader {
          padding: 0;

          .loader_animation {
            height: 90px;
          }
        }
      }
    }
    .addroom-setup {
      color: $color-primary;
      text-align: center;
      border: 1px dotted $color-input-border;
      background-color: map-get($color-white, 800);
      height: 260px;
      .setup-card-button {
        margin-top: 40%;
        border: 1px dotted $color-input-border;
        height: 56px !important;
        border-radius: 50%;
      }
    }
  }
}
@media only screen and (min-width: 1045px) {
  .setup-navbar {
    width: 100% !important;
  }
}
@media (min-width: 1025px) and (max-width: 1067px) {
  .room-select-input {
    width: 60% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .setup-main-container {
    width: 85%;
    padding: 30px;
    .setup-navbar {
      width: 90% !important;
      .setup-nav-item {
        padding: 10px !important;
      }
    }
    .room-select-input {
      width: 50% !important;
      @media (min-width: 769px) and (max-width: 950px) {
        width: 60% !important;
      }
    }
    .room-setup-container {
      .addroom-setup {
        .setup-card-button {
          margin-top: 40% !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {

  .reset-image {
    margin-top: 0;
  }

  .setup-main-container {
    padding: 20px 5px;
    .setup-navbar {
      width: 100% !important;
      .setup-nav-item {
        padding: 5px 6px !important;
        margin: 5px 7px !important;
      }
    }
    .room-select-input {
      width: 60% !important;
      @media (min-width: 601px) and (max-width: 690px) {
        width: 65% !important;
      }
      .room-select-sub {
        margin: 5px 5px !important;
      }
    }
    .room-setup-container {
      .room-setup-card {
        height: auto !important;
        margin: 25px 5px;
        .room-image {
          height: 150px;
        }
        .image_loader_wrapper {
          height: 150px;

          .loader {
            .loader_animation {
              height: 150px;
            }
          }
        }
        .room-details-container {
          .room-name {
            height: auto;
            padding: 10px 0;
            font-size: 25px;
            line-height: 16px;
          }
          .number-of-Seats {
            font-size: 18px;
          }
          .number-of-resources {
            font-size: 18px;
          }
          .room-details {
            .details {
              height: 30px;
              padding: 5px;
              font-size: 16px;
            }
          }
        }
      }
      .addroom-setup {
        .setup-card-button {
          margin-top: 40% !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .setup-main-container {
    width: 80% !important;
    select {
      padding-top: 9px !important;
    }
    label:after {
      padding: 15px 10px !important;
    }
    .setup-navbar {
      .setup-nav-item {
        font-size: $font-size-small-screen;
        padding: 5px 10px !important;
      }
    }
    .room-setup-header {
      font-size: 35px;
    }
    .room-select-input {
      width: 50% !important;
      justify-content: center;
      .room-select-sub {
        margin: 10px !important;
        margin: 5px !important;
      }
    }
    .room-setup-container {
      .room-setup-card {
        height: auto !important;
        margin: 25px 10px;
        .room-image {
          height: 250px;
        }
        .image_loader_wrapper {
          height: 250px;

          .loader {
            .loader_animation {
              height: 250px;
            }
          }
        }

        .room-details-container {
          .room-name {
            font-size: 30px;
            padding-top: 10px;
          }
          .number-of-Seats {
            font-size: $font-size-small-screen;
          }
          .number-of-resources {
            font-size: $font-size-small-screen;
          }
          .room-details {
            .details {
              width: 48% !important;
              font-size: $font-size-small-screen !important;
              height: 50px !important;
              padding-top: 5px !important;
            }
            .block-name {
              width: 60% !important;
            }
          }
        }
      }
      .addroom-setup {
        height: 450px !important;
        .setup-card-button {
          margin-top: 35% !important;
        }
      }
    }
  }
}
