$yellow: #FFAF30;
$white: #FFFFFF;
$buttonPadding: 0.500em 1.250em;
$twentyPX: 1.250em;

@font-face {
  font-family: 'DINPro';
  font-style: normal;
  src: url('../fonts/DINPro-Regular.woff');
}

.feedback-filter-button {
  font-family: 'DINPro';
  display: block;
  fill: $yellow;
  color: $yellow;
  border: 1px solid $yellow;
  border-radius: 2px;
  background-color: $white;
  padding: $buttonPadding;
  margin-right: $twentyPX;

  &:hover {
    background-color: $yellow;
    color: $white;
    cursor: pointer;
  }

  .svg-feedback-filter {
    vertical-align: -3px;
    padding-left: 10px;
  }
}

.feedback-filter-button:hover .svg-feedback-filter {
  fill: $white;
}
