@import './variables';

.room-capacity-first-circle {
  span {
    background-color: $color-primary;
  }
}

.room-capacity-second-circle {
  span {
    background-color: map-get($color-blue, 300);
  }
}

.room-capacity-third-circle {
  span {
    background-color: map-get($color-blue, 100);
  }
}
