@import './variables';

.settings-rooms {
  width: 85%;

  .settings-rooms-control {
    height: 80px;
    text-align: right;
    margin-top: 2%;

    .button {
      margin-right: 0;
      margin-left: 20px;
      padding: 7px 15px;
      height: 37px;
      cursor: pointer;
    }
  }

  .settings-rooms-list {
    table {
      clear: left;
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      .first-col {
        width: 50%;

        @media screen and (max-width: 425px) {
          width: 24%;
        }

        @media screen and (min-width: 500px) and (max-width: 1023px) {
          width: 35%;
        }
      }

      .last-col {
        @media screen and (max-width: 425px) {
          width: 30%;
        }

        @media screen and (min-width: 500px) and (max-width: 1023px) {
          width: 33%;
        }
      }

      tr {
        padding: 1%;
        border-bottom: 10px solid #f4f8f9;
        font-weight: 50;
      }

      th {
        color: #999999;
        padding: 1%;
        padding-left: 2%;
        font-weight: inherit;

        &:first-child {
          height: 20px !important;
        }
      }

      td {
        background: #ffffff;
        padding: 2%;
        color: #333e44;
        font-size: 95%;
        font-family: $font-light;
      }

      td:nth-of-type(4) {
        width: auto;
        padding: 0 25px 0 5px;
      }

      @media screen and (max-width: 425px) {
        width: 100%;
        margin-right: 0;
      }

      @media screen and (min-width: 768) and (max-width: 1023px) {
        width: 100%;
      }
    }
  }
}
