@font-face {
  font-family: 'DINPro-Light';
  font-style: normal;
  src: url('../fonts/DINPro-Light.otf');
}

.feedback-card {
  font-family: 'DINPro-Light';
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.250em;
  color: #4F4F4F;

  section {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
    padding: 1.250em;
    margin-top: 1.875em;

    p {
        margin: 0;
    }

    p:last-child {
        text-align: right;
        color: #333E44;
        font-size: 1.688em;
        padding-top: 0.750em;
    }
  }
}
