@import './variables';

.room-capacity-first-circle {
  span {
    background-color: #0926a8;
  }
}

.room-capacity-second-circle {
  span {
    background-color: #02adb1;
  }
}

.room-capacity-third-circle {
  span {
    background-color: #8dc100;
  }
}
