@import './variables';
@import '../../utils/images/images';


.image-select {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 40px;


  .thumbnail {
    min-height: 140px;
    min-width: 240px;
    width: 240px;
    height: 140px;
    margin-right: 30px;
    border: 1px solid $color-border;
    background-color: map-get($color-white, 200);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .uploaded{
      width: 100%;
    }
    .placeholder{
      height: 88px;
      width: 88px;
      border-radius: 50%;
      background: map-get($color-white, 000);
      background-image: url($place-holder);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .select-button {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    button {
      background-color: $color-primary;
      border-radius: 2px;
      color: map-get($color-white, 000) !important;
      font-weight: 800;
      text-transform: capitalize;
      font-size: 16px;
      font-family: 'DINPro';
      padding-top: 5px;

      &:hover {
        background-color: $color-primary !important;
        color: map-get($color-white, 000) !important;
      }
    }

    #upload_widget_opener {
      margin-top: 7%;
    }
    .invisible-input {
      position: relative;
      input[type=file] {
        width: 9rem;
        height: 2.2rem;
        position: absolute;
        left:0;
        top: -2.2rem;
        opacity: 0;
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}
