.settings-tabs {
  ul {
    width: 70%;
    margin: auto;
    color: #6D6D6D;
    padding: 0;
    padding-top: 2.75%;
    @media screen and (max-width: 425px) {
      margin-left: 5px;
    }
  }

  li {
    list-style: none;
    margin: 8%;
    width: 55%;
    padding: 3% 6%;
    padding-right: 0;
    text-align: left;
    font-size: 115%;
    font-weight: 100;
    border-radius: 2px;
  }

  .active {
    color: white;
    background-color: #3359db;
    @media screen and (max-width: 425px) {
      padding: 5%;
    }
  }
}
