@import './variables';

.setup_container {
  height: 100%;
  .setup_container_center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    margin-top: 100px;
  }
  background-color: map-get($color-white, 000);
  @media screen and(max-width: 1024px) {
    width: 85%;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 85%;
  }

  @media screen and (min-width: 623px) and (max-width: 767px) {
    width: 98%;
    min-height: 60vh;
  }

  @media screen and (max-width: 622px) {
    width: 100%;
    min-height: 60vh;
  }

  .image_loader_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    .loader {
      .loader_animation {
        height: 360px;
        width: 500px;
      }
    }
  }
}

.message {
  display: block;
  text-align: left;
  margin-top: 30px;
  margin-left: 50px;
  .setup { 
    height: 29px;
    color: #333A3F;	
    font-family: Lato;	
    font-size: 24px;	
    font-weight: bold;	
    line-height: 29px;
}
.configure-andela-cen {
	height: 15px;
	width: 134px;
	color: #333A3F;
	font-family: Lato;
	font-size: 12px;
	line-height: 15px;
}
  span {
    font-size: 18px;
    color: $text-color !important;
    font-weight: 200 !important;
    margin-bottom: 10px;
  }
}

.image {
  width: 50%;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 70%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 623px) and (max-width: 767px) {
    width: 80%;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 622px) {
    width: 90%;
    margin-bottom: 30px;
  }

  img {
    width: 100%
  }
}

.welcome__button {
  .button {
    margin: 0 auto;
    width: 147px;
    justify-content: center;
  }
}

.setup__spinner {
  margin-left: 20%;
}
