@import "./variables.scss";
@import "../../utils/images/images";

.setup_info {
  margin: 0 auto 28px auto;
  font-size: 16px;
  line-height: 21px;
  width: 423px;
  text-align: center;
  color: $text-color;
  font-weight: normal;
}
.setup_image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.first_carousel {
  &:before {
    background-color: $color-primary;
  }
}

.second_carousel {
  &:after {
    background-color: $color-primary;
  }
}

.setup_continue_button {
  display: inline-block;
  border-radius: 5px;
  background-color: #2c7cf1;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);
  text-align: center;
  padding: 20px 30px 40px 35px;
  &:after {
    content: url(../images/ic_next.svg);
    margin-left: 15px;
    height: 15px;
    width: 15px;
  }
}

.setup_info {
  margin-top: 7%;
  height: 34px;
  width: 366px;
  color: #333a3f;
  font-family: Lato;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;

  p {
    margin: 0;
    padding: 0;
  }
}

.two {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :nth-child(1) {
    margin-right: -55px;
    margin-top: 8px;
  }

  :nth-child(2) {
    margin-left: -55px;
    width: 70px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.illustration_two {
  width: 50%;
}

.disable-nav {
  &:after {
    content: " ";
  }

  &:before {
    content: " ";
  }
}
