.side-bar{
    background-color: rgb(250, 92, 92);
    width: 40%;
}
.menu-title{
    float: left;
    color: #6D6D6D;
    font-family: 'DINPro-Regular', sans-serif;
    font-size: 24px;
    line-height: 45px;
}