@import './variables';
@import '../../utils/images/images';

.side-modal {
  z-index: 9999;
  position: absolute;
  width: 27%;
  min-height: 112vh;
  overflow-y: scroll;
  right: 0;
  padding-left: 1.5%;
  padding-right: 0.5%;
  padding-bottom: 1%;
  box-shadow: -10px 0px 20px -5px $color-shadow;
  background-color: $color-background;
  animation: moveInRight .7s ease-out;
  top: 135px;

  .error-class {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

    .icon-container {
      text-align: center;

      .error-icon{
        font-size: 20px;
        height: 30px;
        width: 22px;
      }
    }

    .error-msg {
      padding-top: 7px;
      text-align: center;
      color: map-get($color-black, 100);
    }
  }

  .modal-spinner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-header {
    margin-top: 7%;
    margin-bottom: 10%;
    color: map-get($color-black, 600);
    font-family: $font-regular;
    font-size: 18px;
    font-weight: bolder;
  }

  .row-1-headings,
  .row-1-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $text-color;
    font-family: $font-regular;
    font-size: 15px;
    line-height: 20px;
    margin: 0% 0% 5% 0%;

    .row-1-grade {
      font-size: 12px;
      font-family: $font-light;
    }
  }

  .row-1-data {
    margin: 0% 0% 7% 0%;
  }

  .row-1-data>div:nth-child(odd) {
    font-weight: bolder;
    font-size: 20px;

    .green-star {
      content: url($green-star);
    }
  }

  .row-2 {
    height: 20px;
    width: 100%;
    color: map-get($color-black, 600);
    font-family: $font-regular;
    font-size: 15px;

    .item-list-empty {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .date {
      margin-top: 5%;
      margin-bottom: 3%;
      display: inline-block;
    }

    .text-comment {
      font-size: 15px;
      margin-bottom: 5%;
      padding-bottom: 5%;
      border-bottom: 1px solid $color-input-border;
    }

    .text-comment-heading {
      margin-bottom: 2%;
      color: $text-color;
      font-family: $font-regular;
      font-size: 15px;
    }

    .item-list {
      display: grid;
      grid-template-columns: auto auto;

      .items {
        display: grid;
        grid-template-columns: auto auto;

        label {
          padding-bottom: 5%;
        }
      }

      .item-list-heading {
        margin-bottom: 2.5%;
        color: $text-color;
        font-family: $font-regular;
        font-size: 15px;
      }
    }
  }

  .row-2-heading {
    padding-bottom: 4%;
    font-size: 16px;
    border-bottom: 1px solid $color-input-border;
    font-family: $font-regular;

    &:before {
      content: url($responses);
      display: block;
      width: 25px;
      height: 10px;
      float: left;
    }
  }

  .cancel {
    content: url($cancel-image);
    float: right;
    padding-right: 5%;
  }

  .cancel:hover {
    cursor: pointer;
  }
}

.resolved-status {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.btn-resolve {
  padding-top: 1px;

  .react-switch-bg {
    box-shadow: inset .2px 1px 6px rgba(0, 0, 0, .3);
  }
}

.resolve {
    margin-left: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.row-2> :last-child {
  padding-bottom: 40%;
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translate(0);
  }
}

.feedback-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 15;
  color: #fff;
  padding-right: 2;
  margin-right: 4rem;

  &-resolved {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15;
    color: #fff;
    padding-right: 2;
    margin-left: 3rem;
  }
}