.tooltipInner {
	color: #4f4f4f;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	border-radius: 4px;
	font-family: 'DINPro-Regular';
	font-size: 0.8rem;
	font-weight: lighter;
	text-align: left;
}
