@import './variables';

.top-nav {
  position: relative;
  min-width: 600px;
  background: #fff;
  margin: 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0),
      0 2px 4px -1px rgba(0, 0, 0, 0.22) !important;
  text-align: center;
  height: 65px;
}

.top-nav ul {
  padding: 0;
  list-style: none;
}

.top-nav ul a{
 text-decoration: none;
}
.nav-app-bar nav a {
  height: 100%;
  margin: 0 1em !important;
  margin-top: 1.01px !important;
  font-family: $font-regular;
  line-height: 60px;
  }

  .top-nav ul span {
    margin-right: 8px;
  }

  .converge-menu {
    display: flex;
  }

  .converge-menu {
    height: 60px;
    align-items: center;
    padding: 0 15px;
    margin: 0;
    justify-content: center;
  }

  .converge-menu li a {
    font-family: $font-light, sans-serif;
    height: 45px;
    cursor: pointer;
    padding-top: 17px;
    color: rgba(117, 117, 117, 0.5);
    font-weight: 900;
  }

  .converge-menu li {
    margin-right: 19px;
    height: 60px;
  }

  .converge-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }

  .converge-menu li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #0459e4 !important;
    transition: width .3s;
  }

  .converge-menu li:hover::after {
    width: 100%;
  }

  .converge-menu li.active::after {
    width: 100%;
  }

  .converge-menu li.active a {
    color: #0459e4 !important;
  }

  .converge-menu li:hover a {
    color: #0459e4 !important;
  }


