@font-face {
  font-family: 'DINPro';
  src: url(../fonts/DINPro.ttf);
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url(../fonts/DINPro-Regular.woff);
}

@font-face {
  font-family: 'DINPro-Light';
  src: url(../fonts/DINPro-Light.otf);
}

$font: 'DINPro';
$font-regular: 'DINPro-Regular';
$font-light: 'DINPro-Light';
$text-color: #6d6d6d;
$time-color: #808080;
$toast-success: #030303;
$toast-error: #ffffff;
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
$box-shadow-activity: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
$box-shadow-setup: 0 3px 6px 0 rgba(0, 0, 0, 0.05);

$color-primary: #3359db;
$color-danger: #ff5359;
$color-success: #72d11f;
$color-purple: #551a8b;
$color-grey: #bcbcbc;
$color-level-setup-heading: #333e44;
$color-level-setup-subheading: #6d6d6d;
$color-setup-main-container: rgba(0, 0, 0, 0.1);
$color-room-details: rgba(214, 222, 228, 0.5);
$color-background-hover: rgba(51, 89, 219, 0.06);
$color-box-shadow-tooltip: rgba(0, 0, 0, 0.1);
$color-tooltip-background: rgba(0, 0, 0, 0.7);

$color-header: #787878;
$color-background: #f5f9fa;
$color-placeholder: #c00e0e;
$color-input-border: #d6dee4;
$color-border: #ebebeb;
$color-text: #6d6d6d;
$color-title: rgba(174, 189, 212, 0.521);
$transparent-background: rgba(0, 0, 0, 0.5);
$color-shadow: rgba(0, 0, 0, 0.2);
$color-label: #303030;
$color-resource: rgba(214, 222, 228, 0.13);
$carousel-shadow: rgba(0, 0, 0, 0.15);
$carousel-button-border: rgba(128, 143, 163, 0.23);

$color-amber: (
  0: #cccccc,
  50: #eff3c6,
  100: #ffe9c6,
  200: #fac56f,
  300: #ffaf30
);

$color-blue: (
  100: #c7d1f7,
  200: #808fa3,
  300: #7a94eb,
  400: #0000ff
);

$color-black: (
  100: #999999,
  200: #aba6a6,
  300: #65696d,
  400: #4f4f4f,
  500: #434343,
  600: #333e44,
  900: #000000
);

$color-white: (
  000: #ffffff,
  100: #f1f0f0,
  200: #f8f8f8,
  300: #f9f9f9,
  400: #c3c1c1,
  500: #e4e4e4,
  600: #dddddd,
  700: #c7c6c6,
  800: #f4f8f9,
  900: rgba(255, 255, 255, 0)
);

$color-calendar: (
  calendar-text: #2a598f,
  calendar-selected-text: #f0f8ff,
  calendar-highlight: #c2cedd,
  calendar-nav-button: #8b9898
);

$icon_size: 1em;
$icon-filter-color: invert(0.53) sepia(1) saturate(142) hue-rotate(218deg);
$color-grey-light: #cccccc;
$color-grey-dark: #666666;
$color-hover: rgba(51, 89, 219, 0.06);
$color-border: #ebebeb;
$color-gradient: linear-gradient(180deg, #ffffff 0%, #f3f5f7 100%);
$highlight-gradient: linear-gradient(
  180deg,
  rgba(255, 176, 48, 0.349) 0%,
  #ffaf30 100%
);
$color-desc-background: #fbfcfd;
$color-desc-text: #808fa3;
$color-modal-backgorund: rgba(0, 0, 0, 0.5);
$font-size-small-screen: 25px;

$highlight-gradient: linear-gradient(
  180deg,
  rgba(255, 176, 48, 0.349) 0%,
  #ffaf30 100%
);
$border-width: 1px;
