@font-face {
  font-family: 'DINPro';
  src: url(../fonts/DINPro.ttf);
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url(../fonts/DINPro-Regular.woff);
}

@font-face {
  font-family: 'DINPro-Light';
  src: url(../fonts/DINPro-Light.otf);
}

$color-palette: (
  primary: #3359DB,
  danger: #FF5359,
  success: #72D11F,
  white: #FFFFFF,
);

$background: #f5f9fa;
$font: 'DINPro';
$font-regular: 'DINPro-Regular';
$font-light: 'DINPro-Light';
$placeholder: #aca5a5;
$default-header-color: #787878;
$text-color: #6d6d6d;

$black: (
  100: #999999,
  300: #65696d,
  600: #333e44,
);

$white: (
  100: #f1f0f0,
  400: #c3c1c1,
)
